.header-topnav {
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
//   background: rgb(255,255,255);
// background: linear-gradient(0deg, rgba(255,255,255,1) 83%, rgba(179,224,249,1) 96%, rgba(1,143,217,1) 100%);
  width: 100%;
  top: 0;
  z-index: 999;
  .container {
    padding: 0;
  }
  .topbar-branding {
    float: left;
    // height: 48px;
    // padding: 8px;
    // margin: 0 8px;
    span {
      line-height: 48px;

    }
  }
  .topnav {
    // margin-left: -19px;
    display: flex;
    align-items: center;
  }
  .header-topnav-right {
    float: right;
    height: 48px;
    display: flex;
    align-items: center;
    padding-right: 0.67rem;
  }
}

@media (max-width: 959px) {
  .header-topnav-right {
    position: absolute;
    right: 6px;
    top: 0;
  }
}

[dir="rtl"] {
  .header-topnav {
    .topnav {
      flex-direction: row-reverse;
    }
  }
}
