<div>
  <mat-sidenav-container>
    <mat-sidenav EgretSideNavToggle class="shop-sidebar default-light-bg text-white" perfectScrollbar>
      <div class="shop-filters-wrap">
        <form [formGroup]="filterForm">
          <mat-tree class="" [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <!-- (click)="searchCatalogNode(node)" -->
            <mat-tree-node *matTreeNodeDef="let node" (click)="searchCatalogNode(node, searchInput)" [routerLink]="['/shop/catalog', node.id , node.link ,node.name]"  matTreeNodePadding matTreeNodePaddingIndent="5"
              style="font-weight: 500;">
              <!-- use a disabled button to provide padding for tree leaf -->
              <button mat-icon-button class="text-white" disabled></button>
              {{node.name}}
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node [ngStyle]="{'border-bottom': node.level === 0 ? '1px solid' : 'none'}" (click)="searchCatalogNode(node)"
              *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="5" [routerLink]="['/shop/catalog', node.id , node.name]"
              style="font-weight: 500;">
              <button mat-icon-button matTreeNodeToggle  [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  <!-- {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}} -->
                  {{treeControl.isExpanded(node) ? 'remove' : 'add'}}
                </mat-icon>
              </button>
              {{node.name}}
            </mat-tree-node>
          </mat-tree>

          <!-- <mat-accordion multi="true" displayMode="flat">
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Categories
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul class="product-categories">
                <li [ngClass]="{'fw-500': 'all' === activeCategory}" (click)="setActiveCategory('all')">All</li>
                <li *ngFor="let c of categories$ | async" [ngClass]="{'fw-500': c === activeCategory}" (click)="setActiveCategory(c)">{{c}}</li>
              </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Price
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="m-0">Min: {{filterForm.controls['minPrice']['value'] || 20 | currency:'USD'}}</p>
              <mat-slider class="full-width mb-16 pl-0" [formControl]="filterForm.controls['minPrice']" [thumbLabel]="true" [max]="filterForm.controls['maxPrice']?.value - 5"
                [min]="20"></mat-slider>
  
              <p class="m-0">Max: {{filterForm.controls['maxPrice']['value'] || 40 | currency:'USD'}}</p>
              <mat-slider class="full-width pl-0" [formControl]="filterForm.controls['maxPrice']" [thumbLabel]="true" [max]="50" [min]="filterForm.controls['minPrice']?.value + 5"></mat-slider>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Ratings
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="m-0">Min: {{filterForm.controls['minRating']['value'] || 1}}</p>
              <mat-slider class="full-width mb-16" [formControl]="filterForm.controls['minRating']" [thumbLabel]="true" [max]="filterForm.controls['maxRating']?.value - 1"
                [min]="1"></mat-slider>
  
              <p class="m-0">Max: {{filterForm.controls['maxRating']['value'] || 5}}</p>
              <mat-slider class="full-width mb-16" [formControl]="filterForm.controls['maxRating']" [thumbLabel]="true" [max]="5" [min]="filterForm.controls['minRating']?.value + 1"></mat-slider>
            </mat-expansion-panel>
          </mat-accordion> -->
        </form>
      </div>
    </mat-sidenav>
    <!-- Search Form -->
    <div class="shop-wrap" fxLayout="row" fxLayoutWrap="wrap">
      <!-- Filters -->
      <!-- Right side -->

      <div class="full-width">

        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-sm="column" class="shop-top-toolbar px-16 py-8">
          <div fxLayout="row" fxFlex="1 1 auto" fxLayoutAlign="center center" [ngClass.lt-sm]="{'full-width': true}">
            <button mat-icon-button class="mr-16" (click)="toggleSideNav()">
              <mat-icon>short_text</mat-icon>
            </button>
            <!--<button mat-button (click)="login()">Login</button>
            <button mat-button (click)="logoff()">Logout</button>-->
            <!-- <button mat-button (click)="testApi()">testApi</button> -->
            <div fxFlex="1 1 auto" class="product-search-wrap mr-16">
              <form [formGroup]="filterForm" (ngSubmit)="submitSearchInput(searchInput.value)">
                <mat-form-field appearance="outline" class="full-width" style="max-height: 60px;">
                  <mat-label>Suche nach Produkten...</mat-label>
                  <!-- <input matInput placeholder="Placeholder"> -->
                  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  <!-- product-search default-bg full-width -->
                  <input matInput #searchInput type="text" name="searchProduct" placeholder="z.B. M&M Computer Bestseller PC"
                    class="" [formControl]="filterForm.controls['search']" autocomplete="off" spellcheck="false">
                </mat-form-field>
              </form>
            </div>
          </div>

          <!-- View change buttons and cart -->
          <!-- <span fxFlex></span> -->
          <div [fxHide.lt-md]="true">
            <!-- viewMode = 'list-view' -->
            <button mat-icon-button [color]="(productConfig$ | async)?.viewMode === 'list-view' ? 'primary' : ''"
              (click)="setViewMode('list-view')">
              <!-- [ngClass]="{'text-white': (productConfig$ | async)?.viewMode === 'grid-view'}" -->
              <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <!-- viewMode = 'grid-view' -->
            <button mat-icon-button [color]="(productConfig$ | async)?.viewMode === 'grid-view' ? 'primary' : ''"
              (click)="setViewMode('grid-view')">
              <!-- [ngClass]="{'text-white': (productConfig$ | async)?.viewMode === 'list-view'}" -->
              <mat-icon>apps</mat-icon>
            </button>
          </div>
          <span fxFlex="20px"></span>
          <button [ngClass.lt-sm]="{'full-width': true}" color="primary" mat-raised-button routerLink="/shop/cart">
            <mat-icon>shopping_cart</mat-icon> Warenkorb ({{cartData.itemCount}})
          </button>
        </div>
        <!-- <mat-divider class="my-16"></mat-divider> -->
        <!-- Products container -->
        <div class="product-container" [ngClass]="{'list-view': (productConfig$ | async)?.viewMode === 'list-view'}">
          <!-- Product Box -->
          <div class="product-wrap"
            *ngFor="let product of shopService.products$ | async | paginate: { itemsPerPage: 12, currentPage: pageNo , totalItems: count }; let i = index;"
            [@animate]="{value:'*',params:{delay: (i*50)+'ms', y:'50px'}}">
            <div class="product-inner default-bg border mat-box-shadow">
              <!-- <div class="mat-bg-primary" style="height: 10px;"></div> -->
              <div *ngIf="product?.badge?.text" class="product-badge mat-elevation-z7"
                [ngStyle]="{background: product?.badge?.color || '#f44336'}">
                <span>20%</span>
              </div>
              <div class="featured-img" [routerLink]="['/shop/products/', product?.artikelNummer]">
                <!-- <img [src]="product.photo" alt=""> -->
                <img src="assets/images/mm-pc.jpg" alt="">
              </div>

              <div class="info-wrap p-16">
                <div class="main-info">
                  <h3 class="title" [routerLink]="['/shop/products/', product?.artikelNummer]">{{product?.name}}</h3>
                  <p class="text-muted p-line" [innerHtml]="handleProductDescription(product.beschreibung)"></p>
                  <p class="text-muted p-line">
                    <strong>Hersteller:</strong> {{product?.hersteller}}
                  </p>
                  <p class="text-muted p-line">
                    <strong>Tags:</strong>
                    <!-- <span *ngFor="let t of product.tags">tags tags tags </span> -->
                  </p>
                  <p class="text-muted p-line">
                    <strong>EAN:</strong> {{product?.ean}}
                  </p>
                  <p class="text-muted p-line">
                    <strong>Produktgruppe:</strong> {{product?.produktGruppe}}
                  </p>
                  <!-- <p class="text-muted p-line">
                    <strong></strong> {{product?.zusatzText}}
                  </p> -->
                </div>
                <!-- <mat-divider></mat-divider> -->
                <mat-divider></mat-divider>
                <div class="actions">
                  <div class="price-rating">
                    <!-- <star-rating [rating]="product.ratings.rating" [starType]="'svg'" [readOnly]="true"
                      [size]="'small'" [staticColor]="'ok'"></star-rating> -->
                    <!-- <div class="product-rating" *ngIf="(productConfig$ | async)?.viewMode === 'grid-view'">
                      <small class="text-muted">({{product.ratings.ratingCount}})</small>
                    </div> -->
                    <div class="price">
                      <span>{{product?.preis | currency:'EUR'}}</span>
                      <del class="text-muted">{{product?.preis | currency:'EUR'}}</del>
                    </div>

                  </div>
                  <div class="add-to-cart">
                    <span fxFlex></span>
                    <button mat-icon-button (click)="addToCart(product)">
                      <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <!-- Visible when viewMode === list-view -->
              <div class="more-info-wrap p-16" *ngIf="(productConfig$ | async)?.viewMode === 'list-view'">
                <div class="more-info">
                  <div class="more-actions mb-16">
                    <div class="product-rating">
                      <star-rating [starType]="'svg'" [readOnly]="true" [size]="'medium'" [staticColor]="'ok'"
                        [rating]="4.63"></star-rating>
                      <small class="text-muted">(140)</small>
                    </div>
                    <span fxFlex></span>
                    <button mat-icon-button>
                      <mat-icon>playlist_add</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </div>

                  <div>
                    <ul>
                      <li>
                        <mat-icon>check</mat-icon> Heavy duty
                      </li>
                      <li>
                        <mat-icon>check</mat-icon> Water resistance
                      </li>
                      <li>
                        <mat-icon>check</mat-icon> Clean design
                      </li>
                      <li>
                        <mat-icon>check</mat-icon> High quality raw materials
                      </li>
                    </ul>
                  </div>

                </div>

              </div>
              <!-- <div class="mat-bg-primary" style="height: 15px;"></div> -->


            </div>
          </div>
          <mat-divider class="my-16"></mat-divider>
          <!-- End Product -->

          <div class="products-pagination">
            <pagination-controls (pageChange)="handlePageChange($event, searchInput.value)"></pagination-controls>
          </div>

        </div>
        <!-- End Products container -->
      </div>

    </div>
  </mat-sidenav-container>
</div>