<div fxLayout="column" class="header-topnav mat-elevation-z2">
  <!-- <div class="container"> -->
    <div class="topnav mat-bg-primary" style="position: relative;">
      <!-- App Logo -->
      <div class="topbar-branding text-white fw-900 fs-32 ls-8 ml-48 h-48">
        <!-- <img src="assets/images/egret.png" alt="" class="app-logo"> -->
        <span class="lh-48">M & M Computer</span>
      </div>
      
      <div class="full-width h-4" style="position: absolute; left: 0; bottom: 0; background: #B3E0F9; z-index: 2;">
        <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
      </div>
    </div>
  <!-- </div> -->
  <!-- <div class="container"> -->
    <div class="topnav">
      <!-- App Logo -->
      <!-- <div class="topbar-branding">
        <img src="assets/images/egret.png" alt="" class="app-logo">
      </div> -->
      <ul class="menu" *ngIf="!layoutConf.isMobile">
        <li *ngFor="let item of menuItems; let i = index;">
          <div *ngIf="item.type !== 'separator'" routerLinkActive="open">
            <a matRipple routerLink="/{{item.state}}" *ngIf="item.type === 'link'">
              <mat-icon>{{item.icon}}</mat-icon>
              {{item.name | translate}}
            </a>
            <div *ngIf="item.type === 'dropDown'">
              <label matRipple for="drop-{{i}}" class="toggle">
                <mat-icon>{{item.icon}}</mat-icon> {{item.name | translate}}
              </label>
              <a matRipple>
                <mat-icon>{{item.icon}}</mat-icon> {{item.name | translate}}
              </a>
              <input type="checkbox" id="drop-{{i}}" />
              <ul>
                <li *ngFor="let itemLvL2 of item.sub; let j = index;" routerLinkActive="open">
                  <a matRipple routerLink="{{item.state ? '/'+item.state : ''}}/{{itemLvL2.state}}"
                    *ngIf="itemLvL2.type !== 'dropDown'">
                    <mat-icon *ngIf="itemLvL2.icon">{{itemLvL2.icon}}</mat-icon>
                    {{itemLvL2.name | translate}}
                  </a>

                  <div *ngIf="itemLvL2.type === 'dropDown'">
                    <label matRipple for="drop-{{i}}{{j}}" class="toggle">{{itemLvL2.name | translate}}</label>
                    <a matRipple>
                      <mat-icon *ngIf="itemLvL2.icon">{{itemLvL2.icon}}</mat-icon> {{itemLvL2.name | translate}}
                    </a>
                    <input type="checkbox" id="drop-{{i}}{{j}}" />
                    <!-- Level 3 -->
                    <ul>
                      <li *ngFor="let itemLvL3 of itemLvL2.sub" routerLinkActive="open">
                        <a matRipple
                          routerLink="{{item.state ? '/'+item.state : ''}}{{itemLvL2.state ? '/'+itemLvL2.state : ''}}/{{itemLvL3.state}}">
                          <mat-icon *ngIf="itemLvL3.icon">{{itemLvL3.icon}}</mat-icon>
                          {{itemLvL3.name | translate}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <div fxFlex="200px" fxLayout="row" class="h-48 ml-auto mr-16">
        <div fxLayout="row" fxLayoutAlign="center center" class="w-48 h-48">
          <mat-icon class="fs-28" fxFlexAlign="center">local_phone</mat-icon>
        </div>
        <div fxLayout="column" fxFlex="1 1 auto">
          <span class="full-width pt-4 mt-auto mb-4 lh-12">Wir sind für Sie da:</span>
          <span class="full-width mb-auto fs-16 lh-16"><strong>+ 49 351 438 3437</strong></span>
        </div>
      </div>
      <!-- <span fxFlex></span> -->
      <button mat-icon-button class="mr-16" (click)="toggleSidenav()" *ngIf="layoutConf.isMobile">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  <!-- </div> -->
</div>