<section fxLayout="column" class="p-16">
    <h1 class="py-32">Allgemeine Geschäftsbedingungen (Stand 06.2014)</h1>
    <h3>1. Definitionen / Geltungsbereich</h3>
    <p>Sofern in diesen Allgemeinen Geschäftsbedingungen von -Verbraucher- die Rede ist, handelt es sich dabei im Sinne
        der Definition des § 13 BGB um jede natürliche Person, die ein Rechtsgeschäft zu einem Zwecke abschließt, der
        weder ihrer gewerblichen noch ihrer selbstständigen beruflichen Tätigkeit zugerechnet werden kann.
        <br><br>
        Als -Unternehmer- gilt im Kontext dieser Allgemeinen Geschäftsbedingungen eine natürliche oder juristische
        Person oder eine rechtsfähige Personengesellschaft, die bei Abschluss eines Rechtsgeschäftes in Ausübung ihrer
        gewerblichen oder selbstständigen beruflichen Tätigkeit handelt (§ 14 BGB).
        <br><br>
        Als -Käufer- oder -Kunde- werden im Folgenden alle Verbraucher und Unternehmer bezeichnet.
        <br><br>
        Nachstehende Geschäftsbedingungen gelten für alle Angebote, Verträge, Lieferungen und sonstige Leistungen,
        sofern sie nicht individualvertraglich abgeändert werden. Sie gelten spätestens mit Entgegennahme einer
        Teillieferung als vereinbart. Allgemeine Geschäftsbedingungen unserer Käufer werden auch dann für uns nicht
        bindend, wenn wir ihnen nicht nochmals widersprechen.
    </p>
    <h3>2. Angebote, Vertragsabschluß</h3>
    <p>Sie geben bei Bestellung über den Online-Shop ein verbindliches Angebot ab, wenn Sie den Online-Bestellprozess
        unter Eingabe der dort verlangten Angaben durchlaufen haben und im letzten Bestellschritt den Button "Bestellung
        absenden" anklicken. Vor Versendung der Bestellung ermöglichen wir es Ihnen, die Bestellung auf inhaltliche
        Richtigkeit, insbesondere auf Preis und Menge, zu überprüfen und gegebenenfalls zu korrigieren. Nachdem Sie Ihre
        Bestellung abgeschickt haben, senden wir Ihnen eine E-Mail, die den Empfang Ihrer Bestellung bei uns bestätigt
        und deren Einzelheiten aufführt (Empfangsbestätigung bzw. Bestellbestätigung).
        <br>
        Diese Empfangsbestätigung bzw. Bestellbestätigung stellt keine Annahme Ihres Angebotes dar, sondern soll Sie nur
        darüber informieren, dass Ihre Bestellung bei uns eingegangen ist. Spätestens bis zur Lieferung der Ware
        erhalten Sie von uns alle Kundeninformationen, die Sie für Ihre Unterlagen ausdrucken sollten. Der Kaufvertrag
        kommt erst zustande durch den Versand einer zweiten E-Mail als Auftragsbestätigung.
    </p>

    <h3>Bestellablauf für Bestellungen über Online-Shop</h3>
    <p>Sie bestellen in unserem Shop, indem Sie
        <br><br><br>
        1) Artikel in den Warenkorb legen
        <br>
        2) Ihre Liefer- und Zahlungsdaten eingeben
        <br>
        3) Ihre E-Mail-Adresse angeben
        damit wir Sie per E-Mail über Ihr Widerrufsrecht/Rückgaberecht informieren können
        <br>
        4) auf der Kontrollseite die Richtigkeit Ihrer Angaben bestätigen
        <br>
        5) am Ende auf den Button "Bestellung absenden" klicken
        <br><br><br>

        Oder
        <br><br>

        telefonisch bei unserer Bestell-Hotline unter 0351-4383444 in der Zeit von Mo. - Fr. von 09:00-18:30 Uhr oder am
        Samstag von 10:00-16:00 Uhr anrufen.
        <br><br>
        Oder
        <br><br>
        Uns während der Zeit Zeit von Mo. - Fr. von 09:00-18:30 Uhr oder am Samstag von 10:00-16:00 Uhr ein Fax an
        0351-4383433 senden.
        <br><br>
        Unsere Angebote sind freibleibend; ein uns bindender Vertrag kommt erst durch unsere schriftliche
        Auftragsbestätigung zustande. Eine Rechnungslegung durch uns ersetzt eine schriftliche Auftragsbestätigung

    <h3>3. Widerrufsbelehrung</h3>
    <p>
        Verbraucher haben das folgende Widerrufsrecht:
    </p>
    <h3>Widerrufsrecht</h3>
    <p>
        Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
        <br><br>
        Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht
        der Beförderer ist, die Waren in Besitz genommen haben bzw. hat.
        <br><br>
        Um Ihr Widerrufsrecht auszuüben, müssen Sie uns ( M&M Computer * Mintchev GmbH, Grunaer Str. 2, D-01069 Dresden,
        Tel: 0351-4383444, Fax: 0351-4383433, Email: info@mmcomputer.de ) mittels einer eindeutigen Erklärung (z. B. ein
        mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen,
        informieren. Sie können dafür unser RMA- bzw. Widerufs-Formular verwenden, das jedoch nicht vorgeschrieben ist.
        <br><br>
        Sie können das RMA- bzw. Widerufs-Formular oder eine andere eindeutige Erklärung auch auf unserer Webseite
        [http://www.mmcomputer.de/shop/neu/index_neu.htm#HomeZiel=Widerruf] elektronisch ausfüllen und übermitteln.
        Machen Sie von dieser Möglichkeit Gebrauch, so werden wir Ihnen unverzüglich (z. B. per E-Mail) eine Bestätigung
        über den Eingang eines solchen Widerrufs übermitteln.
        <br><br>
        Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor
        Ablauf der Widerrufsfrist absenden.
        <br><br>
    </p>
    <h3>Widerrufsfolgen</h3>
    <p>
        Verbraucher haben das folgende Widerrufsrecht:
    </p>
</section>